
<div class="ww">
    <!-- Form Name -->
    <legend>PRODUCTS</legend>
    
   
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="student_name">STUDENT NAME</label>  
      <div class="col-md-4">
      <input id="student_name" name="student_name" placeholder="student name" [(ngModel)]="studentname" class="form-control input-md" required="" type="text">
     </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="studentgender"> STUDENT GENDER</label>  
        <div class="col-md-4">
        <input id="studentgender" name="studentgender" placeholder="STUDENT GENDER" [(ngModel)]="studentgender" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentclass"> STUDENT CLASS</label>  
        <div class="col-md-4">
        <input id="studentclass" name="studentclass" placeholder="STUDENT CLASS" [(ngModel)]="studentclass" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentsection"> STUDENT SECTION</label>  
        <div class="col-md-4">
        <input id="studentsection" name="studentsection" placeholder="STUDENT SECTION" [(ngModel)]="studentsection" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentaddress"> STUDENT ADDRESS</label>  
        <div class="col-md-4">
        <input id="studentaddress" name="studentaddress" placeholder="STUDENT ADDRESS" [(ngModel)]="studentaddress" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentaddmissiondate"> STUDENT AddmissionDate</label>  
        <div class="col-md-4">
        <input id="studentaddmissiondate" name="studentaddmissiondate" placeholder="STUDENT AddmissionDate" [(ngModel)]="studentaddmissiondate" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentpendingfee"> STUDENT PENDING FEES</label>  
        <div class="col-md-4">
        <input id="studentpendingfee" name="studentpendingfee" placeholder="STUDENT PENDINF FEES" [(ngModel)]="studentpendingfee" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentadvancfee"> STUDENT Addmission FEES</label>  
        <div class="col-md-4">
        <input id="studentadvancfee" name="studentadvancfee" placeholder="STUDENT ADVANCE FEES" [(ngModel)]="studentadvancfee" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentmonthlyfee"> STUDENT MONTHLY FEES</label>  
        <div class="col-md-4">
        <input id="studentmonthlyfee" name="studentmonthlyfee" placeholder="STUDENT MONTHLY FEES" [(ngModel)]="studentmonthlyfee" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studenttutionfee"> STUDENT TUTION FEES</label>  
        <div class="col-md-4">
        <input id="studenttutionfee" name="studenttutionfee" placeholder="STUDENT TutionFee" [(ngModel)]="studenttutionfee" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentpaidfee"> STUDENT PAID FEES</label>  
        <div class="col-md-4">
        <input id="studentpaidfee" name="studentpaidfee" placeholder="STUDENT PAID FEES" [(ngModel)]="studentpaidfee" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studenttravling"> STUDENT TRAVELING STATUS</label>  
        <div class="col-md-4">
        <input id="studenttravling" name="studenttravling" placeholder="STUDENT TRAVILING STATUS" [(ngModel)]="studenttravling" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studenttutionfee"> STUDENT TUTION FEES</label>  
        <div class="col-md-4">
        <input id="studenttutionfee" name="studenttutionfee" placeholder="STUDENT TUTION FEES" [(ngModel)]="studenttutionfee" class="form-control input-md" required="" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="studentstatus"> STUDENT STATUS</label>  
        <div class="col-md-4">
        <input id="studentstatus" name="studentstatus" placeholder="STUDENT STATUS" [(ngModel)]="studentstatus" class="form-control input-md" required="" type="text">
        </div>
      </div>
     
    
    
    
    <!-- Button -->
    <div class="form-group">
      
      <div class="col-md-4">
        <button id="studentaddmissionbtn" (click)="studentaddmission()" name="addbutton" class="btn btn-primary">Add</button>
      </div>
      </div>
    </div>
    
